body{
margin:0;
font-family:Arial;
background:#0e0e0e;
color:white;
}

header{
background:#1db954;
padding:15px;
text-align:center;
}

header input{
margin-top:10px;
padding:8px;
width:80%;
border-radius:5px;
border:none;
}

nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
background:#111;
padding:10px;
}

button{
margin:5px;
padding:10px 15px;
border:none;
border-radius:6px;
background:#1db954;
color:white;
cursor:pointer;
}

.section{
display:none;
padding:20px;
}

.card{
background:#1c1c1c;
padding:15px;
margin:10px 0;
border-radius:10px;
}

h2{
margin-top:0;
}